[color]
	ui = true
[core]
	editor = nvim
	fileMode = false
[alias]
	loga = log --oneline --decorate --graph --all
	unstage = reset HEAD --
	conflicts = diff --diff-filter=U
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
[init]
	defaultBranch = main
[pull]
	ff = only
[safe]
	directory = *